@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar personalizado para los modales */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Background Pattern: Ladrillos oscuros */
body {
    background-color: #0f172a; /* Slate 900 */
    background-image: 
        linear-gradient(335deg, rgba(0,0,0,0.3) 23px, transparent 23px),
        linear-gradient(155deg, rgba(0,0,0,0.3) 23px, transparent 23px),
        linear-gradient(335deg, rgba(0,0,0,0.3) 23px, transparent 23px),
        linear-gradient(155deg, rgba(0,0,0,0.3) 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
